<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="MSI Remote Agent" 
           Language="1033" 
           Version="1.0.0" 
           Manufacturer="Your Company" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             InstallPrivileges="elevated"
             Description="MSI Remote Agent Service"
             Comments="Remote monitoring and control agent" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MSI Remote Agent">
          <Component Id="AgentExecutable" Guid="87654321-4321-4321-4321-210987654321">
            <File Id="AgentExe" 
                  Source="..\agent\dist\agent.exe"
                  Name="agent.exe"
                  KeyPath="yes" 
                  Checksum="yes" />
          </Component>

          <Component Id="ConfigFile" Guid="11111111-2222-3333-4444-555555555555">
            <File Id="ConfigJson" 
                  Source="..\installer\config.json" 
                  KeyPath="yes" />
          </Component>

          <Component Id="ServiceInstaller" Guid="99999999-8888-7777-6666-555555555555">
            <File Id="InstallServiceCmd" 
                  Source="install-service.cmd" 
                  KeyPath="yes" />
            <File Id="UninstallServiceCmd" 
                  Source="uninstall-service.cmd" />
          </Component>
          
          <!-- Added README with manual installation instructions -->
          <Component Id="ReadmeFile" Guid="AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEEE">
            <File Id="ReadmeTxt" 
                  Source="README.txt" 
                  KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MSI Remote Agent">
          <Component Id="ApplicationShortcut" Guid="22222222-3333-4444-5555-666666666666">
            <!-- Added shortcut to install service manually -->
            <Shortcut Id="InstallServiceShortcut"
                     Name="Install Service"
                     Target="[SystemFolder]cmd.exe"
                     Arguments="/c &quot;cd /d &quot;[INSTALLFOLDER]&quot; &amp;&amp; install-service.cmd &quot;[INSTALLFOLDER]&quot; &amp;&amp; pause&quot;"
                     Description="Install MSI Remote Agent Service"
                     WorkingDirectory="INSTALLFOLDER" />
            <Shortcut Id="UninstallProduct"
                     Name="Uninstall MSI Remote Agent"
                     Target="[SystemFolder]msiexec.exe"
                     Arguments="/x [ProductCode]"
                     Description="Uninstalls MSI Remote Agent" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" 
                          Key="Software\MSIRemoteAgent" 
                          Name="installed" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MSI Remote Agent" Level="1">
      <ComponentRef Id="AgentExecutable" />
      <ComponentRef Id="ConfigFile" />
      <ComponentRef Id="ServiceInstaller" />
      <ComponentRef Id="ReadmeFile" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Product>
</Wix>
